@inherits LayoutComponentBase
@using DocumentUI.Services
@inject NavigationManager navigationManager
@inject IAuthService authService

<div class="page">

    @if (authService.UserId != null)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }
    <main>
        <div class="top-row px-4">
            @if (authService.UserId == null)
            {
                <a href="Authentication/Login">Login</a>
                <a href="Authentication/Registration">Registration</a>
            }
            else
            {
                <a href="/">Welcome, @authService.UserName!</a>
                <a href="javascript:void(0);" @onclick="() => logout()">logout</a>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    private void logout()
    {
        authService.MarkUserAsLoggedOut();
        navigationManager.NavigateTo("/");
    }
}