@using DocumentUI.Services
@inject IAuthService authService


<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DocumentUI</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        @if (authService.RoleName == "Administration")
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Document/PendingDocument">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Pending Document
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Document/ApprovedDocument">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Approved Document
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Category/Categories">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Category
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="SubCategory/SubCategories">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Sub Category
                </NavLink>

            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Users/AllUsers">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> All Users
                </NavLink>
            </div>

        }
        else
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Document/UserDocument">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Documents
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
